[Unit]
Description=PiWars Robot Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/piwars/server
#Environment=VIRTUAL_ENV=/home/pi/.virtualenvs/cv
#Environment=PATH=$VIRTUAL_ENV/bin:$PATH
#ExecStart=/bin/sh -c "${VIRTUAL_ENV}/bin/python websocket_server.py"
ExecStart=/bin/sh /home/pi/piwars/server/launch.sh
Restart=always

[Install]
WantedBy=multi-user.target